.js-fadein {
  opacity: 0;
  transform: scale(0.97);
  transform-origin: left bottom;
  translate: -5px 5px;
}

.js-fadein.is-inview {
  opacity: 1;
  transform: scale(1);
  translate: 0;
  transition:
    opacity 0.4s ease 0.3s,
    translate 0.4s ease 0.3s,
    transform 0.4s ease 0.3s;
}
