:root {
  /* font */
  --font-sans: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  --font-m-plus-rounded: 'M PLUS Rounded 1c', sans-serif;
  --base-text-unit: 16;
  --rem-ratio: calc(1rem / var(--base-text-unit));
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --leading-initial: 1;
  --leading-tight: 1.2;
  --leading-normal: 1.4;
  --leading-relaxed: 1.5;
  --tracking-tight: 0.02em;
  --tracking-normal: 0.05em;
  --tracking-medium: 0.07em;
  --tracking-relaxed: 0.12em;

  /* size */
  --layout-width-min: 375;
  --layout-width-mid: 750;
  --layout-width-max: 1440;
  --fluid-ratio-min: calc(1 / var(--layout-width-mid) * 100dvi);
  --fluid-ratio-max: calc(1 / var(--layout-width-max) * 100dvi);
  --percent-ratio-min: calc(1 / var(--layout-width-mid) * 100%);
  --aspect-video: 16/9;
  --aspect-thumbnail: 1.91/1;
  --rounded-s: 5px;
  --rounded-m: 10px;
  --rounded-l: 15px;
  --rounded-xl: 25px;
  --rounded-infinity: calc(infinity * 1px);

  /* color */
  --color-grayscale-0: #fff;
  --color-grayscale-100: #333;
  --color-grayscale-1000: #000;
  --color-orangescale-0: #fff2e3;
  --color-orangescale-100: #efc83c;
  --color-orangescale-200: #f19901;
  --color-orangescale-300: #fd9c00;
  --color-orangescale-400: #ea5504;
  --background-base: var(--color-grayscale-0);
  --font-base: var(--color-grayscale-100);
  --underline-base: color-mix(in srgb, currentcolor, transparent 40%);
  --background-section-head: linear-gradient(90deg, var(--color-orangescale-100) 0%, var(--color-orangescale-300) 100%);
  --dashed-line: repeating-linear-gradient(90deg, var(--color-grayscale-1000), var(--color-grayscale-1000) 4px, transparent 4px, transparent 7px);
  --shadow-tel-button: 3.5px 3.5px 2px rgb(0 0 0 / 25%);

  /* z-index */
  --back-z-index: -1;
  --default-z-index: 1;
  --front-z-index: 2;
  --menu-z-index: 3;

  /* motion time */
  --speed-quick: 0.3s;
  --speed-normal: 0.5s;
  --speed-slow: 1s;
  --speed-over-slow: 2s;
}
